sandbox/
regress/
example_test_no_integerizing/
example_mtc/
.idea
.ipynb_checkpoints
persons_2023_tm2.csv
households_2023_tm2.csv
seed_households.csv
seed_persons.csv
synthetic_households.csv
synthetic_persons.csv
pipeline.h5
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
households.csv
persons.csv
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Python profiles
*.cprof
*.lprof

# macOS
*.DS_Store

# vagrant
.vagrant
docs/images/Thumbs.db
.Rproj.user
